#ifndef AK_SWAGGER_{{classname}}_PUBLIC_H_
#define AK_SWAGGER_{{classname}}_PUBLIC_H_

#include "{{classname}}_p.h"
namespace  swagger {
namespace {{classname}} {

using namespace operations;

}
}

#endif