#ifndef _SWAGGER_RESPONSE_
#define _SWAGGER_RESPONSE_

#include <QObject>
#include <QSslError>
#include "ApiInvoker.h"

class QNetworkReply;
class QJsonValue;

namespace swagger {

class AbstractRequest : public QObject {
    Q_OBJECT
public:
    AbstractRequest(AbstractApiInvoker::RequestParams && params, AbstractApiInvoker* invoker, QStringList && authSchemes);
    virtual ~AbstractRequest();
    quint16 status() const;
    quint32 duration() const;
    bool isFinished() const;
    bool success() const;

public Q_SLOTS:
    void send();

protected:
    virtual bool processResponse(int status, const QJsonValue & data) = 0;

private Q_SLOTS:
    void onReplyFinished();

private:
    QNetworkReply* m_reply;
    AbstractApiInvoker::RequestParams m_params;
    AbstractApiInvoker* m_invoker;
    QStringList m_authSchemes;
};

}


#endif
